{% import 'macros/form.html' as form %}
{% block basic_fields_url %}

  <div class="control-group form-group">
    <label for="field-private" class="control-label">{{ _('Metadata Indikator') }}</label>
        <div class="controls">
            <select id="url" name="url" data-module="autocomplete">
                <option value="">Pilih salah satu metadata yang tersedia</option>
            </select>
        </div>
    </div>
  
<script>
document.addEventListener('DOMContentLoaded', () => {
    const url = document.getElementById('url');

    fetch('https://qc.data.go.id/api/skdn/mms/list/067')
        .then(response => response.json())
        .then(data => {
            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item.url;
                option.textContent = item.name;
                url.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
});
</script>

  {% endblock %}

{% extends 'package/snippets/package_basic_fields.html' %}

{% block package_basic_fields_title %}
{% endblock %}

{% block package_basic_fields_url %}
{% endblock %}

{% block package_basic_fields_description %}
{% endblock %}

{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}
